<h1>Build a new form</h1> <br>
<blockquote>
    <p>Select field type you want to add to the form below and click on 'Add Field' button. Don't forget to set field properties. After you finish creating the form, you can preview the form by clicking Preview Form button.</p>
</blockquote>

<div class="well">
    <div class="form-fields" ng-hide="previewMode">
        <div class="form-properties">
            <h3>Form Properties</h3>
            <div class="row">
                <div class="span2">Form ID: </div>
                <div class="span4"><input type="text" name="form-id" ng-disabled="true" ng-model="form.form_id"></div>
            </div>
            <div class="row">
                <div class="span2">Form Name:</div>
                <div class="span4"><input type="text" name="form-name" ng-disabled="previewMode" ng-model="form.form_name"></div>
            </div>
        </div>

        <hr>

        <h3>Fields</h3>
        <div class="add-field">
            <select ng-model="addField.new" ng-options="type.name as type.value for type in addField.types"></select>
            <button type="submit" class="btn" ng-click="addNewField()"><i class="icon-plus"></i> Add Field</button>
        </div>
        <hr>
        <p ng-show="form.form_fields.length == 0">No fields added yet.</p>
        <accordion close-others="accordion.oneAtATime">
            <accordion-group heading="{{field.field_title}}" ng-repeat="field in form.form_fields">

                <div class="accordion-edit">
                    <button class="btn btn-danger pull-right" type="button" ng-click="deleteField(field.field_id)"><i class="icon-trash icon-white"></i> Delete</button>

                    <div class="row">
                        <div class="span2">Field ID: </div>
                        <div class="span4">{{field.field_id}}</div>
                    </div>
                    <div class="row">
                        <div class="span2">Field Type:</div>
                        <div class="span4">{{field.field_type}}</div>
                    </div>

                    <div class="clear"></div> <hr>

                    <div class="row">
                        <div class="span2">Field Title:</div>
                        <div class="span4"><input type="text" ng-model="field.field_title" value="{{field.field_title}}"></div>
                    </div>
                    <div class="row">
                        <div class="span2">Field Default Value:</div>
                        <div class="span4"><input type="text" ng-model="field.field_value" value="{{field.field_value}}"></div>
                    </div>
                    <div class="row" ng-show="showAddOptions(field)">
                        <div class="span2">Field Options:</div>
                        <div class="span6">
                            <div ng-repeat="option in field.field_options">
                                <input type="text" ng-model="option.option_title" value="{{option.option_title}}">
                                <a class="btn btn-danger btn-mini right" type="button" ng-click="deleteOption(field, option)"><i class="icon-minus icon-white"></i></a>
                                <span class="label label-inverse">Value: {{ option.option_value }}</span>
                            </div>
                            <button class="btn btn-primary btn-small" type="button" ng-click="addOption(field)"><i class="icon-plus icon-white"></i> Add Option</button>
                        </div>
                    </div>

					<div class="clear"></div> <hr>

                    <div class="row">
                        <div class="span2">Required:</div>
                        <div class="span4">
                            <label>
                                <input type="radio" ng-value="true" ng-selected ng-model="field.field_required"/>
                                &nbsp; Yes
                            </label>
                            <label>
                                <input type="radio" ng-value="false" ng-model="field.field_required"/>
                                &nbsp; No
                            </label>
                        </div>
                    </div>
					
					<div class="clear"></div> <hr>

					<div class="row">
						<div class="span2">Disabled:</div>
                        <div class="span4">
                            <label>
                                <input type="radio" ng-value="true" ng-selected ng-model="field.field_disabled"/>
                                &nbsp; Yes
                            </label>
                            <label>
                                <input type="radio" ng-value="false" ng-model="field.field_disabled"/>
                                &nbsp; No
                            </label>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>

        <p class="text-center">
            <button class="btn btn-primary right" type="button" ng-click="previewOn()"><i class="icon-eye-open icon-white"></i> Preview Form</button>
            <button class="btn btn-danger right" type="button" ng-click="reset()"><i class="icon-refresh icon-white"></i> Reset</button>
        </p>

        <br><hr>

		<div class="text-center">
			<a class="btn btn-small btn-primary" ng-show="!showJson" ng-click="showJson = true">Show form json object</a>
			<a class="btn btn-small btn-inverse" ng-show="showJson" ng-click="showJson = false">Hide form json object</a><br><br>
		</div>

        <div ng-show="showJson">
            <h4>Form object content:</h4>
            <pre>{{ form | json }}</pre>
        </div>
    </div>

    <div class="form-fields-preview" ng-show="previewMode">
        <form-directive form="previewForm"></form-directive>

        <p class="text-center">
            <button class="btn btn-primary btn-large right" type="button" ng-click="previewOff()"><i class="icon-arrow-left icon-white"></i> Back to Create Mode</button>
        </p>
    </div>
</div>

